<div class="header">
    <span user="article.writer"></span>
    <span class="date">{{article.date.toString()}}</span>

</div>
<div class="body">
    <div class="head" ui-sref="article({url:stateParams.url, articleId:article._id})">{{article.head}}</div>
    <pre ui-sref="article({url:stateParams.url, articleId:article._id})">{{article.body.slice(0, 30)}}</pre>
</div>
<img ng-if="article.photos" class="photo" src="/client/img/uploads/{{article.photos[0]}}">
<div class="footer">
    <i class="fa fa-heart-o" ng-click="likeToggle()"></i> {{article.like.length}} <i class="fa fa-comment-o"
                                                                                     ui-sref="article({url:stateParams.url, articleId:article._id})"></i>
    {{article.reply}}

</div>