<header>
    <div class="top-fix">
        <div class="header-icon" ui-sref="board.list({url: stateParams.url})"><i class="fa fa-arrow-left"></i>
        </div>
        <div class="title">
            {{article.head}}
        </div>
    </div>
</header>

<ul>
    <li ng-repeat="photo in article.photos"><img src="{{photo}}"></li>
</ul>

<div>
    <div class="info"><span class="writer">{{article.writer}}</span> <span class="date">{{article.date}}</span></div>
    <p>{{article.body}}</p>
    <span ng-show="user.email == article.writer"><span ng-click="delete()">삭제</span></span>
</div>

<ul>
    <li ng-repeat="reply in replies">{{reply}} <span ng-click="deleteReply(reply)" ng-show="user.email == reply.writer">삭제</span></li>
    <li ng-show="!noMore" ng-click="getReplies()">리플 더보기</li>

</ul>
<input ng-model="reply" ng-enter="writeReply()">

<div ng-click="writeReply()">리플쓰기</div>
