<header>
    <div class="top-container">
        <div class="header-icon" ui-sref="board.list({url: stateParams.url})"><i class="fa fa-arrow-left"></i>
        </div>
        <div class="title">
            {{state.title}}
        </div>
        <span class="header-icon profile" ng-click="logout()"><i class="fa fa-sign-out"></i></span>
    </div>
    <div class="top-container">
        <div ngf-drop ng-model="photo" class="profile-photo" ngf-select
             ngf-drag-over-class="profile-photo-hover" ngf-allow-dir="true" ng-style="style"
             ngf-accept="'image/*'">
        </div>
        <div class="info">
            <div class="email">{{user.email}}</div>
            <input class="name" ng-model="user.name">
        </div>
    </div>
</header>

<span class="label" ng-click="state='like'" ng-class="{'bold':state=='like'}" ng-init="state='like'">내가 좋아하는 게시물</span>
<span class="label" ng-click="state='my'" ng-class="{'bold':state=='my'}">내가 쓴글</span>
<div ng-show="state=='like'" article-list="user.favorite"></div>

<div ng-show="state=='my'" article-list="user.my"></div>
