.search-results {
    border: 1px solid #999;
    border-top: none;
    margin: 0 10px;
    margin-top: -10px;
    width: 90%;
    padding: 0 10px;
    padding-top: 1px;
}

.search-results li {
    margin: 10px 0;
    border-bottom: 1px solid #eee;
}


.search-results li.selected {
    background-color: #eeeeee;
}

.search-results li span:first-child {
    font-weight: 900;
    font-size: 130%;
    margin-right: 10px;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 80px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
