
.search-results {
    position: absolute;
    border: 1px solid #E5E5E5;
    border-top: none;
    margin-top: -19px;
    color: black;
    width: 90%;
    left: 5%;
    background-color: white;
}

.search-results li {
    margin: 10px;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.search-results li.selected {
    background-color: #eeeeee;
}

.search-results li span:first-child {
    font-weight: 900;
    font-size: 130%;
    margin-right: 10px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.write {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #7bb4e7;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 2px silver;
}

@media screen and (min-width: 600px) {
    .write {
    }
}
