.center {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    margin: auto;
    width: 100%;
}

.center-content {
    position: relative;
    margin: auto;
    max-width: 400px;
}