.margin-auto {
    margin: auto;
}

textarea {
    resize: none;
    webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
    transition: height 0.3s;
    overflow: hidden;
}

.input {
    width: 90%;
    outline: none;
    border: 1px solid #999;
    padding: 10px;
    margin: 10px;
    line-height: 15px;
}

.right {
    right: 0;
    top: 0;
}

.non-border {
    border: none;
}

.border-bottom {
    border-bottom: 1px solid #999;
}

h1 {
    font-size: 40px;
    margin: 40px 0;
}