.margin-auto {
    margin: auto;
}

textarea {
    resize: none;
    webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
    transition: height 0.3s;
    overflow: hidden;
}

.right {
    right: 24px;
    top: 22px;
    font-size: 45px;
}

.non-border.head {
    font-size: 20px;
    padding: 20px;
}

.non-border {
    border: none;
}

.border-bottom {
    border-bottom: 1px solid #999;
}

h1 {
    font-size: 40px;
    margin: 40px 0;
}

[ng-click], [ui-sref] {
    cursor: pointer;
}

p {
    padding: 20px;
}
