<header>
    <div class="top-fix">
        <div class="header-icon"><i class="fa fa-bars"></i>
        </div>
        <div class="title">{{state.title || stateParams.url}}</div>
        <div class="profile">
            <span ng-show="user.logged" ng-click="logout()">로그아웃{{user.email}}</span>
            <span ng-show="!user.logged" ui-sref="login({url: stateParams.url})">로그인</span>
        </div>
    </div>
    <input class="input" ng-model="keyword" ng-keydown="keyPress($event)" placeholder="검색어를 입력하세요"><i
        class="fa fa-search search-icon"></i>
    <ul class="search-results" ng-show="results.length!=0">
        <li ng-repeat="result in results" ng-click="move()" ng-mouseover="selectResult(result)"
            ng-class="{'selected':result == select}">
            <span>{{result.board}}</span><span class="badge">{{result.count}}</span></li>
    </ul>
    <div class="input" ng-click="rand()">랜덤보드</div>
</header>


<div ui-view></div>
