<header>
    <div class="top-fix">
        <div class="header-icon" ui-sref="board({url: stateParams.url})"><i class="fa fa-arrow-left"></i>
        </div>
        <div class="title">
            <small>{{stateParams.url}}</small>
            {{state.title}}
        </div>
        <div class="header-icon right" ng-click="write();"><i class="fa fa-check"></i>
        </div>
    </div>

</header>

<input class="input non-border border-bottom" placeholder="제목 | 미입력시 본문의 첫 문장이 입력됩니다." ng-model="article.head">
<textarea class="input non-border" placeholder="내용" ng-model="article.body"></textarea>